@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Fragment";
	src: url("/Fonts/PPFragment/Glare/PPFragment-GlareRegular.otf")
		format("opentype");
	font-weight: normal;
	font-style: normal;
}
